@model aspdev.repaem.Areas.Admin.ViewModel.UserInfo

<h2>Добро пожаловать, @Html.DisplayFor(m => m.Name)!</h2>
<p class="newreps">@Html.ActionLink("Новых заказов: "+ @Model.NewReps, "Index", "Repetition")</p>
@if(Model.NewBill) { <p class="newbill">@Html.ActionLink("У вас есть неоплаченный счет!", "Index", "Bills")</p> }