@model aspdev.repaem.ViewModel.Home.RepBaseView

@{
    ViewBag.Title = "repaem.in.ua - Список баз";
}

<div class="repbasepage">
    @Html.EditorFor(m => m.Filter)
    <div class="repbaselist">@Html.DisplayFor(m => m.RepBases)</div>
    @Html.DisplayFor(m => m.Map)
</div>

