@model aspdev.repaem.ViewModel.Home.RepBaseList

@{
    ViewBag.Title = "repaem.in.ua - Результаты поиска";
}

<div class="repbasepage">
    <h2>Результаты поиска</h2>
    @Html.DisplayFor(m => m.Filter)
    <div class="repbaselist">@Html.DisplayFor(m => m.RepBases)</div>
    @Html.DisplayFor(m => m.Map)
    @Html.Partial("Reklama")
</div>



