<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="Debug" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
		<!--<add name="localhost" connectionString="Server=00757cc4-ea1a-4c4f-baad-a1f700fed8fd.sqlserver.sequelizer.com;Database=db00757cc4ea1a4c4fbaada1f700fed8fd;User ID=awedzeuhucgiokbv;Password=btNVoTYXTXPEkkNHecHUiWcRM68SWnk5yX8Wux5pcuvfCsfLANrDZqRmr5hqUfbF;" providerName="System.Data.SqlClient" />-->
		<add name="localhost" connectionString="server=.\SQLEXPRESS;database=repaem;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>