@model System.Web.HttpException

<div class="narrow-page error">
	<h2>Ошибка!</h2>
	<div class="two-cols-page first">
		<span class="error-code">@Model.ErrorCode</span>
	</div>
	<div class="two-cols-page second">
		<span class="error-message">@Model.Message</span>
	</div>
</div>