@{
    ViewBag.Title = "repaem.in.ua - apsdEv team";
}
@model aspdev.repaem.ViewModel.HomeIndexModel
<div class="narrow-page homepage">
    <h2>Собрать репетицию</h2>
    @Html.DisplayFor(m => m.Map)
    @Html.EditorFor(m => m.Filter)
    <div class="clear"></div>
    <h2>Новые базы</h2>
    @Html.DisplayFor(m => m.NewBases)
</div>