@{
    ViewBag.Title = "Repaem.in.ua - apsdEv team";
}
@model aspdev.repaem.ViewModel.HomeIndexModel

<h2>Собрать репетицию</h2>
<div class="homepage">
    @Html.Partial("GoogleMap", Model.Map)
    @Html.Partial("Filter", Model.Filter)
</div>