@{
    ViewBag.Title = "Repaem.in.ua - apsdEv team";
}
@model aspdev.repaem.ViewModel.HomeIndexModel
<div class="homepage">
    <h2>Собрать репетицию</h2>
    @Html.Partial("GoogleMap", Model.Map)
    @Html.Partial("Filter", Model.Filter)
    <div class="clear"></div>
    <h2>Новые базы</h2>
    @foreach (aspdev.repaem.ViewModel.RepBaseListItem rep in Model.NewBases)
    {
        Html.RenderPartial("DisplayTemplates/RepBaseListItem", rep);
    }
</div>

@section Scripts {
    <script src="~/Scripts/HomeIndex.js" type="text/javascript"></script>
}