@model aspdev.repaem.ViewModel.Feedback

<div class="rounded-corners feedback">
    <h4 class="name">@Html.DisplayFor(m => m.Name)</h4>
    <p class="email">@Html.DisplayFor(m => m.Email)</p>
    <p class="text">@Html.DisplayFor(m => m.Text)</p>
    <div class="clear"></div>
</div>