@model aspdev.repaem.ViewModel.RepBaseListItem
<div class="RepBaseListItem">
    <img src="/@Url.Content(Model.ImageSrc)" />
    <span class="info">
        <h3>@Model.Name</h3>
        <p>@Model.Description</p>
        <p class="address">@Model.Address</p>
    </span>
    <div class="rating">
        <input type="hidden" class="val" value="@Model.Rating.ToString()"/>
    </div>
    <div class="actions">
        <a class="green button" href="#">Заказать базу</a>
    </div>
    <div class="clear"></div>
</div>