@model aspdev.repaem.Areas.Admin.ViewModel.RepBaseListItem2
<div class="repbase-list-item rounded-corners">
	@Html.HiddenFor(m => m.Id)
	<span class="name">@Html.ActionLink(Model.Name, "Edit", "RepBase", new {id = Model.Id}, new {})</span>
	@if (Model.Rating.HasValue)
	{
		<span class="rating-num">@Html.ActionLink(Model.Rating.ToString(), "Index", "Comments", new {id = Model.Id}, new {})</span>
	}
</div>
