@model aspdev.repaem.ViewModel.RepbaseInfo

@if(!String.IsNullOrEmpty(Model.ThumbSrc)) {
	<img src="@Url.Content(Model.ThumbSrc)" style="float: left; margin-right: 0.5em"/>
}
<h4>@Html.Raw(Model.Title)</h4>
<div>@Model.Description</div>
@Html.ActionLink("Подробнее...","Display", "Repbase", new { id = Model.Id }, new {})


