header {
	background-image: linear-gradient(bottom, rgb(224, 224, 224) 4%, rgb(255, 255, 255) 40%);
	background-image: -o-linear-gradient(bottom, rgb(224, 224, 224) 4%, rgb(255, 255, 255) 40%);
	background-image: -moz-linear-gradient(bottom, rgb(224, 224, 224) 4%, rgb(255, 255, 255) 40%);
	background-image: -webkit-linear-gradient(bottom, rgb(224, 224, 224) 4%, rgb(255, 255, 255) 40%);
	background-image: -ms-linear-gradient(bottom, rgb(224, 224, 224) 4%, rgb(255, 255, 255) 40%);

	background-image: -webkit-gradient(
	                                  linear,
	                                  left bottom,
	                                  left top,
	                                  color-stop(0.04, rgb(224, 224, 224)),
	                                  color-stop(0.4, rgb(255, 255, 255))
);

	color: grey;
	min-height: 4em;

	position: relative;
    
	width: 100%;
}

/* auth */
header .auth-label {
	left: 10em;

	position: relative;
	top: 0.45em;
}

header .menu {
	-moz-border-radius: 0.4em 0.4em 0.4em 0.4em;
	-webkit-border-radius: 0.4em 0.4em 0.4em 0.4em;
	background-color: #bbb;
    
	border-radius: 0.4em 0.4em 0.4em 0.4em;
	display: inline-block;
	padding: 0.2em;
	position: relative;
}

header .menu.auth {
	left: 12em;
	top: 1em;
}

header .menu.second {
	left: 22em;
	top: 1em;
}

header .menu li {
	color: white;
	float: left;
	list-style: none outside none;
	margin: 0.2em;
}

header .menu li:after { content: '|'; }

header .menu li:last-child:after { content: ''; }


header .menu li a {
	color: white;
	text-decoration: none;
}

header .menu li a:hover { text-decoration: underline; }

/* help */

header .help {
	left: 60em;
	position: relative;
	top: 0.5em;
}

header .help img {
	margin-left: 0.5em;
	position: relative;
	top: 0.2em;
	width: 1.5em;
}

#header_image {
	height: auto;
	width: 100%;
}