header {
    background-image: linear-gradient(bottom, rgb(224,224,224) 4%, rgb(255,255,255) 40%);
    background-image: -o-linear-gradient(bottom, rgb(224,224,224) 4%, rgb(255,255,255) 40%);
    background-image: -moz-linear-gradient(bottom, rgb(224,224,224) 4%, rgb(255,255,255) 40%);
    background-image: -webkit-linear-gradient(bottom, rgb(224,224,224) 4%, rgb(255,255,255) 40%);
    background-image: -ms-linear-gradient(bottom, rgb(224,224,224) 4%, rgb(255,255,255) 40%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.04, rgb(224,224,224)),
	    color-stop(0.4, rgb(255,255,255))
    );

    width:100%;
    height:4em;

    position:relative;
    
    color:grey;
}

/* auth */
header .auth-label {
    position:relative;

    top:0.45em;
    left:10em;
}
header .menu {
    -webkit-border-radius: 0.4em 0.4em 0.4em 0.4em;
    -moz-border-radius: 0.4em 0.4em 0.4em 0.4em;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    
    background-color: #bbb;
    display:inline-block; 
    position:relative;
    padding:0.2em;
}
header .menu.auth {
    top:1em;
    left:12em;
}

header .menu.second {
    top:1em;
    left:22em;
}

header .menu li {
    float:left;
    list-style: none outside none;
    margin:0.2em;
    color:white;
}

header .menu li a {
    color:white;
    text-decoration:none;
}
    
header .menu li a:hover {
    text-decoration:underline;
}

/* help */
header .help {
    position:relative;
    top: 0.5em;
    left:60em;
}

header .help img{
    width:1.5em;
    margin-left:0.5em;
    top:0.2em;
    position:relative;
}

#header_image
{
    width:100%;
    height:auto;
}