@import url("Header.css");
@import url("Footer.css");

* {
    margin: 0px;
    padding: 0px;
    font-weight:300;

}

body
{
    font-size:12px;
    font-family: 'Roboto Condensed', sans-serif;

}

a {
    border: none;
    color:grey;
}

a:hover {
    text-decoration:underline;
}

body {
}

#page {
    width:102em;
    margin:0 auto;
}

.menu ul {
    list-style:none outside none;
}

.clear
{
    clear: both; height: 0; overflow: hidden;
}

#main
{

    position:relative;
}
h2
{
    text-align:center;
    width:100%;
    font-weight:400;
    font-size:2em;
    margin-bottom:-0.7em;
}
h3
{
    font-weight:300;
    font-size:1.5em;
    margin:0.5em 0.5em 0.5em 0;
}

.ui-slider .ui-slider-handle
{
    z-index:1;
}

/*GOOGLEMAP*/
.googlemap
{
    width:40em;
    height:35em;
}

/* homepage */
.homepage 
{
    margin-left:10em;
    position:relative;
    width:82em;
}

.homepage .googlemap
{
    float:left;
}

.homepage .filter
{
    position:absolute;
    width:40em;
    left:42em;
}
.homepage .filter form
{
    position:relative;
}

/* REPBASEPAGE */
.repbasepage .filter
{
    margin-top:2em;
    margin-bottom:1.5em;

}
.repbasepage .repbaselist
{
    width:59em;
    float:left;
}
.repbasepage .googlemap
{
    width:40em;
    margin-left:62em;
}

/*square editor filter*/
.square.filter.editor table
{
    width:40em;

}
.square.filter.editor table td
{
    vertical-align:top;
    padding:0.5em;
}

.square.filter.editor table td.label
{
    text-align:right;
    width:20%;
}

.square.filter.editor input[type=text], .square.filter.editor input[type=number], .square.filter.editor input[type=date], .square.filter.editor select
{
    width:100%;
}
.square.filter.editor input.slider-val1, .square.filter.editor input.slider-val2
{
    width:4em;
}
.square.filter.editor .ui-slider
{
    margin-top: 0.5em;
}
.square.filter.editor input[type=submit]
{
    padding:0.3em 0.5em 0.3em 0.5em;
    color:#808080;
}

/*inline display filter*/
.inline.display.filter
{
    border:1px solid grey;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow: black 5px 5px initial;
    padding:0.5em;
    position:relative;
    height:1.8em;   
    -webkit-box-shadow: 4px 4px 3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    4px 4px 3px rgba(50, 50, 50, 0.5);
    box-shadow:         4px 4px 3px rgba(50, 50, 50, 0.5);
}
.inline.display.filter > *
{
    font-size:1.2em;
}
.inline.display.filter .item
{
    float:left;
    margin-left:0.5em;
}
.inline.display.filter .item .value
{
    text-decoration:underline;
}
.inline.display.filter .edit-form
{
    position:absolute;
    right:1em;
}

/*inline editor filter*/
.inline.editor.filter
{
    border:1px solid grey;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow: black 5px 5px initial;
    padding:0.5em;
    position:relative; 
    -webkit-box-shadow: 4px 4px 3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    4px 4px 3px rgba(50, 50, 50, 0.5);
    box-shadow:         4px 4px 3px rgba(50, 50, 50, 0.5);
}
.inline.filter.editor .col1, .inline.filter.editor .col2
{
    width:50%;
    float:left;
}
.inline.filter.editor table
{
    width:100%;
}
.inline.filter.editor table td
{
    vertical-align:top;
    padding:0.5em;
}

.inline.filter.editor table td.label
{
    text-align:right;
    width:15%;
}

.inline.filter.editor input[type=text], .inline.filter.editor input[type=number], .inline.filter.editor input[type=date], .inline.filter.editor select
{
    width:100%;
}
.inline.filter.editor input.slider-val1, .inline.filter.editor input.slider-val2
{
    width:4em;
}
.inline.filter.editor .ui-slider
{
    margin-top: 0.5em;
}
.inline.filter.editor input[type=submit]
{
    padding:0.3em 0.5em 0.3em 0.5em;
    color:#808080;
    position:absolute;
    right:1em;
    bottom:0.2em;
}


/*repbaselist*/
.RepBaseListItem
{
    width:100%;
    margin-bottom:1em;
    position:relative;
    border: 1px solid grey;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.RepBaseListItem img 
{
    height:10em;
    float:left;
    margin:1em;
}
.RepBaseListItem .info
{
    float:left;
    display: inline-block;
    height:10em;
}
.RepBaseListItem .info
{
    float:left;
    display: inline-block;
    height:10em;
}
.homepage .RepBaseListItem .info
{
    max-width:51em;
}
.RepBaseListItem .rating
{
    position:absolute;
    right:0;
    float:right;
    top:1.5em;
}
.RepBaseListItem .actions
{
    position:absolute;
    top:7em;
    float:right;
    right:2.5em;
}

/*buttons*/
.green.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528009;
}.green.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}.green.button:active {
	position:relative;
	top:1px;
}
/*.edit-form {
    background:url(/images/Btn.PNG) no-repeat;
    cursor:pointer;
    width: 200px;
    height: 100px;
    border: none;
}*/