@import url("Header.css");
@import url("Footer.css");

* {
    margin: 0px;
    padding: 0px;
    font-size:12px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:300;
}

a {
    border: none;
    color:grey;
}

a:hover {
    text-decoration:underline;
}

body {
}

#page {
    width:102em;
    margin:0 auto;
}

.menu ul {
    list-style:none outside none;
}

.clear
{
    clear: both; height: 0; overflow: hidden;
}

#main
{
    margin-left:10em;
    margin-right:10em;
    position:relative;
}
h2
{
    text-align:center;
    width:100%;
    font-weight:400;
    font-size:2em;
    margin:0.5em;
}
h3
{
    font-weight:300;
    font-size:1.5em;
    margin:0.5em 0.5em 0.5em 0;
}

.ui-slider .ui-slider-handle
{
    z-index:1;
}



/* homepage */
.googlemap
{
    width:40em;
    height:35em;
}

.homepage .googlemap
{
    float:left;
}

.homepage .filter
{
    position:absolute;
    width:40em;
    left:42em;
}
.homepage .filter form
{
    position:relative;
}

/*filter*/
.filter table
{
    width:40em;

}

.filter table td
{
    vertical-align:top;
    padding:0.5em;
}

.filter table td.label
{
    text-align:right;
    width:20%;
}

.filter input[type=text], .filter input[type=number], .filter input[type=date], .filter select
{
    width:100%;
}
.filter input.slider-val1, .filter input.slider-val2
{
    width:4em;
}
.filter .ui-slider
{
    margin-top: 0.5em;
}
.filter input[type=submit]
{
    padding:0.3em 0.5em 0.3em 0.5em;
    color:#808080;
}

/*repbaselist*/
.RepBaseListItem
{
    width:100%;
    margin-bottom:1em;
    position:relative;
}
.RepBaseListItem img 
{
    height:10em;
    float:left;
    margin:1em;
}
.RepBaseListItem .info
{
    width:100%;
    float:left;
    width:51.5em;
    height:10em;
}
.RepBaseListItem .rating
{
    position:absolute;
    right:0;
    top:1em;
}
.RepBaseListItem .actions
{
    padding-top:5em;
}

/*button*/
.green.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528009;
}.green.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}.green.button:active {
	position:relative;
	top:1px;
}