<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <!--<add name="localhost" 
        connectionString="Server=00757cc4-ea1a-4c4f-baad-a1f700fed8fd.sqlserver.sequelizer.com;Database=db00757cc4ea1a4c4fbaada1f700fed8fd;User ID=awedzeuhucgiokbv;Password=btNVoTYXTXPEkkNHecHUiWcRM68SWnk5yX8Wux5pcuvfCsfLANrDZqRmr5hqUfbF;"  
        providerName="System.Data.SqlClient" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>