@{
    ViewBag.Title = "repaem.in.ua - FAQ";
}
<div class="narrow-page">
    <h2>FAQ</h2>

    <p class="faq-q">Для кого существует данный ресурс?</p>
    <p class="faq-a">Данный ресурс предназначен для музыкантов и для владельцев репетиционных баз.</p>

    <h3>Для музыкантов:</h3>

    <p>С помощью repaem.in.ua vузыканты могут найти свободную базу для репетиции в удобном для них месте и по приемлимой цене, послучить информацию о загруженности базы, об ее аппаратуре, узнать отзывы других музыкантов, оставить свое впечатление о базе.</p>

    <p class="faq-q">Что мне нужно сделать, что бы заказать репетицию?</p>
    <p class="faq-a">Для этого необходимо найти базу в каталоге, на карте, либо используя поисковую систему. Затем выбрать время, которое вы хотите заказать на этой базе, ввысте ваши контактные данные, ввести полученный из СМС код, и ждать звонка от администрации базы с подтверждением вашей репетиции.</p>

    <p class="faq-q">А если я уже заказывал репетицию на вашем сайте?</p>
    <p class="faq-a">Тогда вы можете просто ввести свой номер телефона и пароль, указанные при регистрации. </p>

    <p class="faq-q">Я заказал репетицию, но мне необходимо ее отменить. Как быть?</p>
    <p class="faq-a">Для того что бы отменить репетицию, вы можете авторизоваться на сайте, используя ваши контактные данные, найти вашу репетицию в списке будущих репетиций и отменить ее. Главное, вы  должны сделать это не менее, чем за сутки до начала репетиции, иначе ваш номер будет внесен в черный список, и все администраторы будут предупреждены о вашей неблагонадежности. Так же крайний срок отмены может быть больше, согласно с внутренними правилами каждой репетиционной базы.</p>


    <H3>Для владельцев:</H3>

    <p>Владельцы репетиционных баз могут разместить информацию о своей базе на нашем ресурсе, организовать график работы базы при помощи электронного расписания, получать заявки на репетицию онлайн, получать отзывы музыкантов о работе своей базы. Так же все владельцы получают доступ к общему черному списку номеров неблагонадежных музыкантов, которые не появляются на заказанные репетиции.</p>

    <p class="faq-q">Какие я получаю гарантии того, что меня не обманут, и что музыканты придут на заказанное время?</p>
    <p class="faq-a">При заказе репетиции музыканты указывают свой номер телефона, который мы проверяем SMS сообщением. После проверки вы можете сами перезвонить музыкантам, на указанный номер. Если музыканты не приходят на репетицию, вы можете внести их номер в общий черный список, после чего все администраторы будут предупреждены о неблагонадежности этих музыкантов.</p>

    <p class="faq-q">Что я должен делать со своей стороны для успешного предоставления услуг своей базы онлайн?</p>
    <p class="faq-a">Вам необходимо разместить информацию о совей базе - список оборудования во всех залах, предоставленные вами дополнительные условия, стоимость репетиций. Так же очень хорошо представят вашу базу подробные фотографии. После того, как сервис начинает функционировать, необходимо вносить в график работы базы все репетиции, которые заказаны вне нашего сервиса.</p>

    <p class="faq-q">Как мне отблагодарить авторов такого полезного и удобного сервиса?</p>
    <p class="faq-a">За каждую заказанную у нас репетицию вам необходимо перевести нам 5% ее стоимости. Если в конце месяца от вас не придут деньги, мы заблокируем возможность заказывать репетиции для вашей базы, и всем будем рассказывать, что Вы - жадина=)</p>

    <p class="faq-q">Если я хочу разместить где-то ссылку на свою базу в вашем сервисе, как это сделать? </p>
    <p class="faq-a">Вы можете переать постоянную ссылку на вашу базу, которая указана на ее странице. Так же вы поделиться информацией о ней при помощи социальных сетей. Кроме того, вы можете разместить на стороннем сайте виджет нашего сервиса с графиком репетиций вашей базы.</p>
</div>
