@model aspdev.repaem.ViewModel.PageModel.AuthOrRegister
@{ Html.EnableClientValidation(); }
@{
    ViewBag.Title = "repaem.in.ua - Регистрация или вход!";
}
<div class="narrow-page">
    <h2>Регистрация или вход!</h2>
    <p>Если вы уже использовали наш сервис, вы можете войти:</p>

    <p>@Html.Partial("EditorTemplates/Auth",Model.Auth)</p>

    @*TODO: Обязательно прикруть вход вконтакте твиттер мордокнига *@
    <p>Если нет, введите ваши контактные данные:</p>

    <p>@Html.Partial("EditorTemplates/Register",Model.Register)</p>

    
</div>
