@model aspdev.repaem.ViewModel.Profile

@{
    ViewBag.Title = "repaem.in.ua - Профиль пользователя";
}

<div class="narrow-page">
    <h2>Профиль пользователя</h2>
    @Html.EditorForModel()
</div>