@model aspdev.repaem.ViewModel.Register

@{
    ViewBag.Title = "asp.net dEv - repaem.in.ua - Регистрация";
}
<div class="narrow-page">
    <h2>Регистрация</h2>
    @Html.EditorForModel()
</div>

@section Scripts {
    <script src="/scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="/scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
}