@model IEnumerable<aspdev.repaem.ViewModel.Repetition>

@{
    ViewBag.Title = "repaem.in.ua - Ваши репетиции";
}

<div class="narrow-page">
    <h2>Ваши репетиции</h2>
    @Html.DisplayForModel()
</div>